:root {
    --primaryColor: #332D41;  /*primary BG Color*/
    --secondaryColor: #E6E0E9;  /*primary font color*/ 
}

#para {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}